<app-header [title]="'Home'"></app-header>

<ion-content>

  <ion-card class="welcome-card" [hidden]="hideTour">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to BoozeTrack</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The guide tour will you explain...</p>
      <ion-button end type="button" color="danger" (click)="setHideTour()">Hide</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-title margin-top>Drinks</ion-title>
  <div padding [hidden]="!loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
    
  <ion-list>
    <ion-item *ngFor="let drink of drinkList">
      <ion-label text-wrap>
        <ion-text>
          <h3>Description: {{ drink.description }}</h3>
        </ion-text>
        <p>Calories: {{ drink.calories }}</p>
        <p>Type: {{ drink.type }}</p>
      </ion-label>
      <div item-content>
        <ion-button (click)="removeDrink(drink)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addDrink()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
