<app-header [title]="'List'"></app-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar 
      debounce="500" 
      (ionChange)="search($event)"
      animated
    ></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let drink of drinks">
      <ion-icon [name]="drink.type" slot="start"></ion-icon>
      {{drink.description}}
      <div class="item-note" slot="end">
        <ion-icon name="flame"></ion-icon>
        {{drink.calories}}
      </div>
      <ion-button clear slot="end" (click)="addDrink(drink)">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
