<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BoozeTrack - {{ title }}
    </ion-title>
    <ion-note slot="end">with &#10084; by DTU</ion-note>
  </ion-toolbar>
</ion-header>